# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
allFiredEvents
scTopics

# local env variables
.env

# build directory
build/

# lol macs
.DS_Store/

.gitignore
.idea
.idea/workspace.xml
/.decimal/
deccli
send.exp
/test.sh

.vscode
