{
  "genesis_time": "2020-06-18T14:00:00.000000Z",
  "chain_id": "{{ chain_id }}",
  "consensus_params": {
    "block": {
      "max_bytes": "10000000",
      "max_gas": "-1",
      "time_iota_ms": "1000"
    },
    "evidence": {
      "max_age_num_blocks": "100000",
      "max_age_duration": "86400000000000"
    },
    "validator": {
      "pub_key_types": ["ed25519"]
    }
  },
  "app_hash": "",
  "app_state": {
    "validator": {
      "params": {
        "unbonding_time": "2592000000000000",
        "max_validators": 256,
        "max_entries": 7,
        "bond_denom": "tdel",
        "historical_entries": 0,
        "max_delegations": 1000
      },
      "last_total_power": "0",
      "last_validator_powers": null,
      "validators": null,
      "delegations": null,
      "unbonding_delegations": null,
      "exported": false
    },
    "genutil": {
      "gentxs": [
        {
          "type": "cosmos-sdk/StdTx",
          "value": {
            "msg": [
              {
                "type": "validator/declare_candidate",
                "value": {
                  "commission": "0.100000000000000000",
                  "validator_addr": "dxvaloper16rr3cvdgj8jsywhx8lfteunn9uz0xg2czw6gx5",
                  "reward_addr": "dx16rr3cvdgj8jsywhx8lfteunn9uz0xg2c7ua9nl",
                  "pub_key": {
                    "type": "tendermint/PubKeyEd25519",
                    "value": "5ik+wVUdwbf8/yLy9qTKtHje005sylP8g4a2FkLFNu0="
                  },
                  "stake": {
                    "denom": "tdel",
                    "amount": "40000000000000000000000000"
                  },
                  "description": {
                    "moniker": "test-node-fra1-01",
                    "identity": "",
                    "website": "decimalchain.com",
                    "security_contact": "",
                    "details": "Declaring validator on test-node-fra1-01"
                  }
                }
              }
            ],
            "fee": {
              "amount": [],
              "gas": "200000"
            },
            "signatures": [
              {
                "pub_key": {
                  "type": "tendermint/PubKeySecp256k1",
                  "value": "Ann34HTQiiPi/Ht/2eSaDWVwoov2ycuYjpL2eMMpNQl0"
                },
                "signature": "KAi3K+qerwZ5W64MaGr47WoLD/H7IfxatvwnZy/7h2FDCHRSlpMXCd5nx/9EAlfRa9+j8LF7mhfcJM27evgbyA=="
              }
            ],
            "memo": "bf7a6b366e3c451a3c12b3a6c01af7230fb92fc7@139.59.133.148:26656"
          }
        },
        {
          "type": "cosmos-sdk/StdTx",
          "value": {
            "msg": [
              {
                "type": "validator/declare_candidate",
                "value": {
                  "commission": "0.100000000000000000",
                  "validator_addr": "dxvaloper1ajytg8jg8ypx0rj9p792x32fuxyezga4dq2uk0",
                  "reward_addr": "dx1ajytg8jg8ypx0rj9p792x32fuxyezga43jd3ry",
                  "pub_key": {
                    "type": "tendermint/PubKeyEd25519",
                    "value": "peUQ+o/bMwO4O71I4miSsLyoBCNVtit74s5aTP+8d3c="
                  },
                  "stake": {
                    "denom": "tdel",
                    "amount": "40000000000000000000000000"
                  },
                  "description": {
                    "moniker": "test-node-fra1-02",
                    "identity": "",
                    "website": "decimalchain.com",
                    "security_contact": "",
                    "details": "Declaring validator on test-node-fra1-02"
                  }
                }
              }
            ],
            "fee": {
              "amount": [],
              "gas": "200000"
            },
            "signatures": [
              {
                "pub_key": {
                  "type": "tendermint/PubKeySecp256k1",
                  "value": "A+0Sm90CYEkcknXu/cvYx9eKpau17Yyd54mzDdtSG9bZ"
                },
                "signature": "vukEYdP7d5GJT+kbYdfAO6gQjdcDMdKh+k5fZ1BA1ZwLWrNoimssB+T2AClIiikefVZh2wMUPIizjaH7HgbvUA=="
              }
            ],
            "memo": "c0b9b6c9a0f95e3d2f4aed890806739fc77faefd@64.225.110.228:26656"
          }
        },
        {
          "type": "cosmos-sdk/StdTx",
          "value": {
            "msg": [
              {
                "type": "validator/declare_candidate",
                "value": {
                  "commission": "0.100000000000000000",
                  "validator_addr": "dxvaloper1azre0dtclv5y05ufynkhswzh0cwh4ktzr0huw2",
                  "reward_addr": "dx1azre0dtclv5y05ufynkhswzh0cwh4ktzlas3mp",
                  "pub_key": {
                    "type": "tendermint/PubKeyEd25519",
                    "value": "k7+6GxAOns0lDlloIGlVJK8phsMW1PLiiT9kI42sBpE="
                  },
                  "stake": {
                    "denom": "tdel",
                    "amount": "40000000000000000000000000"
                  },
                  "description": {
                    "moniker": "test-node-nyc3-01",
                    "identity": "",
                    "website": "decimalchain.com",
                    "security_contact": "",
                    "details": "Declaring validator on test-node-nyc3-01"
                  }
                }
              }
            ],
            "fee": {
              "amount": [],
              "gas": "200000"
            },
            "signatures": [
              {
                "pub_key": {
                  "type": "tendermint/PubKeySecp256k1",
                  "value": "Ax72b3e3Tz8Wx7Iq9FXaM1sbTit+1AujjKHRsTafhrtE"
                },
                "signature": "jBz+hGMaJD3SbyzbCGOIlxjpZpSaUHzG6FUTaeWRY/59H1oTJuSVVU87+JQztiywgoAbhuv7DUWlT2FiYaFDgA=="
              }
            ],
            "memo": "76b81a4b817b39d63a3afe1f3a294f2a8f5c55b0@64.225.56.107:26656"
          }
        },
        {
          "type": "cosmos-sdk/StdTx",
          "value": {
            "msg": [
              {
                "type": "validator/declare_candidate",
                "value": {
                  "commission": "0.100000000000000000",
                  "validator_addr": "dxvaloper1j3j2mwxnvlmsu2tkwm4z5390vq8v337w3gskap",
                  "reward_addr": "dx1j3j2mwxnvlmsu2tkwm4z5390vq8v337wd6hmg2",
                  "pub_key": {
                    "type": "tendermint/PubKeyEd25519",
                    "value": "9GGfD38mErkvsSNkwctzUcY3ZIYiKqWJI6fw7XzHF/w="
                  },
                  "stake": {
                    "denom": "tdel",
                    "amount": "40000000000000000000000000"
                  },
                  "description": {
                    "moniker": "test-node-sgp1-01",
                    "identity": "",
                    "website": "decimalchain.com",
                    "security_contact": "",
                    "details": "Declaring validator on test-node-sgp1-01"
                  }
                }
              }
            ],
            "fee": {
              "amount": [],
              "gas": "200000"
            },
            "signatures": [
              {
                "pub_key": {
                  "type": "tendermint/PubKeySecp256k1",
                  "value": "AtKn3ANbRqsIg8zpF0/03t9kvEuUtd7ZS9VnPu/8zF5z"
                },
                "signature": "5S15vyKu7MwFmqRO9TH3gpI8ZPDSFLN8k4lf0YIqmY9suAs4WzEQDR1JhavlNHaUD0alj2l1crZrx6evUalfLA=="
              }
            ],
            "memo": "29e566c41d51be90fa53340ba4edccefbebe8cb2@139.59.192.48:26656"
          }
        }
      ]
    },
    "auth": {
      "params": {
        "max_memo_characters": "256",
        "tx_sig_limit": "7",
        "tx_size_cost_per_byte": "10",
        "sig_verify_cost_ed25519": "590",
        "sig_verify_cost_secp256k1": "1000"
      },
      "accounts": [
        {
          "type": "cosmos-sdk/Account",
          "value": {
            "address": "dx16rr3cvdgj8jsywhx8lfteunn9uz0xg2c7ua9nl",
            "coins": [
              {
                "denom": "tdel",
                "amount": "40000011000000000000000000"
              }
            ],
            "public_key": "",
            "account_number": 0,
            "sequence": 0
          }
        },
        {
          "type": "cosmos-sdk/Account",
          "value": {
            "address": "dx1ajytg8jg8ypx0rj9p792x32fuxyezga43jd3ry",
            "coins": [
              {
                "denom": "tdel",
                "amount": "40000011000000000000000000"
              }
            ],
            "public_key": "",
            "account_number": 0,
            "sequence": 0
          }
        },
        {
          "type": "cosmos-sdk/Account",
          "value": {
            "address": "dx1azre0dtclv5y05ufynkhswzh0cwh4ktzlas3mp",
            "coins": [
              {
                "denom": "tdel",
                "amount": "40000011000000000000000000"
              }
            ],
            "public_key": "",
            "account_number": 0,
            "sequence": 0
          }
        },
        {
          "type": "cosmos-sdk/Account",
          "value": {
            "address": "dx1j3j2mwxnvlmsu2tkwm4z5390vq8v337wd6hmg2",
            "coins": [
              {
                "denom": "tdel",
                "amount": "40000011000000000000000000"
              }
            ],
            "public_key": "",
            "account_number": 0,
            "sequence": 0
          }
        },
        {
          "type": "cosmos-sdk/Account",
          "value": {
            "address": "dx12k95ukkqzjhkm9d94866r4d9fwx7tsd82r8pjd",
            "coins": [
              {
                "denom": "tdel",
                "amount": "160000000000000000000000000"
              }
            ],
            "public_key": "",
            "account_number": 0,
            "sequence": 0
          }
        },
        {
          "type": "cosmos-sdk/Account",
          "value": {
            "address": "dx1esffyu0wxk6eez77fhzdxfgvjp4646hqm9sx6c",
            "coins": [
              {
                "denom": "tdel",
                "amount": "19999956000000000000000000"
              }
            ],
            "public_key": "",
            "account_number": 0,
            "sequence": 0
          }
        }
      ]
    },
    "bank": {
      "send_enabled": true
    },
    "params": null,
    "supply": {
      "supply": []
    },
    "coin": {
      "title": "Test decimal coin",
      "symbol": "tdel",
      "initial_volume": "340000000000000000000000000"
    },
    "check": {}
  }
}