{
  "genesis_time": "2021-10-28T09:00:00.000000Z",
  "chain_id": "{{ chain_id }}",
  "initial_height": "1",
  "consensus_params": {
   "block": {
    "max_bytes": "10000000",
    "max_gas": "100000",
    "time_iota_ms": "1000"
   },
   "evidence": {
    "max_age_num_blocks": "100000",
    "max_age_duration": "86400000000000"
   },
   "validator": {
    "pub_key_types": [
     "ed25519"
    ]
   },
   "version": {}
  },
  "app_hash": "",
  "app_state": {
   "auth": {
    "params": {
     "max_memo_characters": "256",
     "tx_sig_limit": "7",
     "tx_size_cost_per_byte": "10",
     "sig_verify_cost_ed25519": "590",
     "sig_verify_cost_secp256k1": "1000"
    },
    "accounts": [
     {
      "@type": "/cosmos.auth.v1beta1.BaseAccount",
      "address": "dx1nrr6er27mmcufmaqm4dyu6c5r6489cfm35m4ft",
      "pub_key": null,
      "account_number": "0",
      "sequence": "0"
     },
     {
      "@type": "/cosmos.auth.v1beta1.BaseAccount",
      "address": "dx1mvqrrrlcd0gdt256jxg7n68e4neppu5t24e8h6",
      "pub_key": null,
      "account_number": "0",
      "sequence": "0"
     },
     {
      "@type": "/cosmos.auth.v1beta1.BaseAccount",
      "address": "dx1lx4lvt8sjuxj8vw5dcf6knnq0pacre4w6hdh2v",
      "pub_key": null,
      "account_number": "0",
      "sequence": "0"
     }
    ]
   },
   "bank": {
    "params": {
     "send_enabled": [],
     "default_send_enabled": true
    },
    "balances": [
     {
      "address": "dx1nrr6er27mmcufmaqm4dyu6c5r6489cfm35m4ft",
      "coins": [
       {
        "denom": "del",
        "amount": "40000000000000000000000000"
       }
      ]
     },
     {
      "address": "dx1mvqrrrlcd0gdt256jxg7n68e4neppu5t24e8h6",
      "coins": [
       {
        "denom": "del",
        "amount": "40000000000000000000000000"
       }
      ]
     },
     {
      "address": "dx1lx4lvt8sjuxj8vw5dcf6knnq0pacre4w6hdh2v",
      "coins": [
       {
        "denom": "del",
        "amount": "40000000000000000000000000"
       }
      ]
     }
    ],
    "supply": [
     {
      "denom": "del",
      "amount": "120000000000000000000000000"
     }
    ],
    "denom_metadata": []
   },
   "capability": {
    "index": "1",
    "owners": []
   },
   "coin": {
    "title": "Decimal coin",
    "symbol": "del",
    "limit_volume": "340000000000000000000000000"
   },
   "genutil": {
    "gen_txs": []
   },
   "gov": {
    "StartingProposalID": "1",
    "Votes": [],
    "Proposals": [],
    "TallyParams": {
     "Quorum": "0.667000000000000000",
     "Threshold": "0.500000000000000000"
    }
   },
   "multisig": {},
   "nft": {
    "collections": [],
    "id_collections": {}
   },
   "params": null,
   "swap": {
    "Params": {
     "LockedTimeOut": "86400s",
     "LockedTimeIn": "43200s"
    },
    "Swaps": []
   },
   "validator": {
    "Params": {
     "UnbondingTime": "2592000s",
     "MaxValidators": 256,
     "MaxEntries": 7,
     "BondDenom": "del",
     "HistoricalEntries": 0,
     "MaxDelegations": 1000
    },
    "LastTotalPower": "0",
    "LastValidatorPowers": [],
    "Validators": [],
    "Delegations": [],
    "UnbondingDelegations": [],
    "DelegationsNFT": [],
    "Exported": false
   }
  },
  "genutil": {
   "gentxs": [
    {
     "body": {
      "messages": [
       {
        "@type": "/validator.MsgDeclareCandidate",
        "Commission": "0.100000000000000000",
        "ValidatorAddr": "dxvaloper1nrr6er27mmcufmaqm4dyu6c5r6489cfmdxucuq",
        "RewardAddr": "dx1nrr6er27mmcufmaqm4dyu6c5r6489cfm35m4ft",
        "Stake": {
         "denom": "del",
         "amount": "40000000000000000000000000"
        },
        "Description": {
         "Moniker": "dev-node-01",
         "Identity": "",
         "Website": "decimalchain.com",
         "SecurityContact": "",
         "Details": "Declaring validator on dev-node-01"
        },
        "PubKey": {
         "@type": "/cosmos.crypto.ed25519.PubKey",
         "key": "c4YgZK1GlgVB4YFh94Qcqo0SBBIhLJ7ncIwXO4URf1A="
        }
       }
      ],
      "memo": "8a2cc38f5264e9699abb8db91c9b4a4a061f000d@185.242.122.122:26656",
      "timeout_height": "0",
      "extension_options": [],
      "non_critical_extension_options": []
     },
     "auth_info": {
      "signer_infos": [
       {
        "public_key": {
         "@type": "/cosmos.crypto.secp256k1.PubKey",
         "key": "A/jGezwfhOzAyTaRbg3off9HYzvtUO4CxaRrBJzdHGlw"
        },
        "mode_info": {
         "single": {
          "mode": "SIGN_MODE_DIRECT"
         }
        },
        "sequence": "0"
       }
      ],
      "fee": {
       "amount": [],
       "gas_limit": "200000",
       "payer": "",
       "granter": ""
      }
     },
     "signatures": [
      "L4kpxrqDEyE5mvWRum4UT0ChMZU5f1S29F7tr16Gs/A+HkS86KlEkvD8nrcUvTxDCIJdmKLjyFanltmcCse2eg=="
     ]
    },
    {
     "body": {
      "messages": [
       {
        "@type": "/validator.MsgDeclareCandidate",
        "Commission": "0.100000000000000000",
        "ValidatorAddr": "dxvaloper1lx4lvt8sjuxj8vw5dcf6knnq0pacre4wx926l8",
        "RewardAddr": "dx1lx4lvt8sjuxj8vw5dcf6knnq0pacre4w6hdh2v",
        "Stake": {
         "denom": "del",
         "amount": "40000000000000000000000000"
        },
        "Description": {
         "Moniker": "dev-node-03",
         "Identity": "",
         "Website": "decimalchain.com",
         "SecurityContact": "",
         "Details": "Declaring validator on dev-node-03"
        },
        "PubKey": {
         "@type": "/cosmos.crypto.ed25519.PubKey",
         "key": "x9WI+in8vh2/6eLpivWgqZ50waXiQb0mAI50GqQI8bI="
        }
       }
      ],
      "memo": "27fcfef145b3717c5d639ec72fb12f9c43da98f0@185.242.122.122:26656",
      "timeout_height": "0",
      "extension_options": [],
      "non_critical_extension_options": []
     },
     "auth_info": {
      "signer_infos": [
       {
        "public_key": {
         "@type": "/cosmos.crypto.secp256k1.PubKey",
         "key": "AyXteacATBJVsNGhTGUwgHfLO4mJTXhvK/H/2MLOTylo"
        },
        "mode_info": {
         "single": {
          "mode": "SIGN_MODE_DIRECT"
         }
        },
        "sequence": "0"
       }
      ],
      "fee": {
       "amount": [],
       "gas_limit": "200000",
       "payer": "",
       "granter": ""
      }
     },
     "signatures": [
      "3ZfzwiIOPSM/krVgTe/OPI5PI81hIJeyITL8RacN7dZ/s8Q1yaRRKurI/k8HDB0oiKTwgh5nBFXM29l0CuzpBw=="
     ]
    },
    {
     "body": {
      "messages": [
       {
        "@type": "/validator.MsgDeclareCandidate",
        "Commission": "0.100000000000000000",
        "ValidatorAddr": "dxvaloper1mvqrrrlcd0gdt256jxg7n68e4neppu5tk872z3",
        "RewardAddr": "dx1mvqrrrlcd0gdt256jxg7n68e4neppu5t24e8h6",
        "Stake": {
         "denom": "del",
         "amount": "40000000000000000000000000"
        },
        "Description": {
         "Moniker": "dev-node-02",
         "Identity": "",
         "Website": "decimalchain.com",
         "SecurityContact": "",
         "Details": "Declaring validator on dev-node-02"
        },
        "PubKey": {
         "@type": "/cosmos.crypto.ed25519.PubKey",
         "key": "5duJ6p45rx8gO3TOVnwHxyr1I3SbJ2z+EbBmIvYowQw="
        }
       }
      ],
      "memo": "e0e7a88de0b39bd2adceb3516d353582ff94ec15@185.242.122.123:26656",
      "timeout_height": "0",
      "extension_options": [],
      "non_critical_extension_options": []
     },
     "auth_info": {
      "signer_infos": [
       {
        "public_key": {
         "@type": "/cosmos.crypto.secp256k1.PubKey",
         "key": "A8s6NPtmz3ywH2LGxNnRjjsEIdt53ZuRQy7q6Mof0iA9"
        },
        "mode_info": {
         "single": {
          "mode": "SIGN_MODE_DIRECT"
         }
        },
        "sequence": "0"
       }
      ],
      "fee": {
       "amount": [],
       "gas_limit": "200000",
       "payer": "",
       "granter": ""
      }
     },
     "signatures": [
      "zhzMcYqAGwId0oOpn8BNItzsQw5bi5Fhgh5uaf86eIVHd9Zt/zRF2CRV73m8W14V8Jlq5Qmr1rPw8O+5iqK13w=="
     ]
    }
   ]
  }
 }